body {
    margin: 0;
    padding: 0;
    border: 0;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#timer,
#timer_2 {
    /* text-align: center; */
    /* width: 82%; */
    height: 15vh;
    font-size: 6vh;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* align-items: center; */
    /* text-shadow: 1vh 1vh 1vh rgba(255, 255, 0, 1), -1vh -1vh 1vh rgba(0, 0, 255, 1), -1vh 1vh 1.5vh rgba(255, 165, 0, 1), 1vh -1vh 2vh rgb(0, 128, 0, 1); */
}

#main_h1 {
    height: 20vh;
    font-size: 2.2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-top: 0.17vh solid white; */
    /* border-bottom: 0.17vh solid white; */
    box-shadow: 0 0 3vh white;
    /* text-shadow: 1vh 1vh 1vh rgba(255, 255, 0, 0.75); */
    /* text-shadow: 0 0 1vh whitesmoke; */
}

.mirrored {
    display: block;
    transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -moz-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    opacity: 0.5;
    font-size: 100%;
    text-shadow: 0 0 1vh whitesmoke;
}

h1 {
    width: 100%;
}

#height31 {
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* text-shadow: 1vh 1vh 1vh rgba(255, 255, 0, 0.75), -1vh -1vh 1vh rgba(0, 0, 255, 0.75), -1vh 1vh 1.5vh rgba(255, 165, 0, 0.75), 1vh -1vh 2vh rgb(0, 128, 0, 0.75); */
}

h2,
h3 {
    display: block;
    display: flex;
    flex-direction: column;
    text-shadow: 0 0 1vh whitesmoke;
}

h2 {
    align-items: flex-end;
    margin: 0;
}

h3 {
    margin: 0;
    align-items: flex-start;
}

footer {
    /* border-top: 00.1vh solid white; */
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 3vh white;
    /* opacity: 0.5; */
    text-shadow: 1vh 1vh 1vh rgba(255, 255, 0, 1), -1vh -1vh 1vh rgba(0, 0, 255, 1), -1vh 1vh 1.5vh rgba(255, 165, 0, 1), 1vh -1vh 2vh rgb(0, 128, 0, 1);
}

body * {
    font-weight: 100;
}

.wrapper {
    /* height: 100vh; */
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 1vh whitesmoke;
}

.typing-demo {
    width: 60ch;
    animation: typing 8.8s steps(30) infinite, blink 0.88s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    -webkit-animation: typing 8.8s steps(30) infinite, blink 0.88s step-end infinite alternate;
    -webkit-animation: typing 8.8s steps(30) infinite, blink 0.88s step-end infinite alternate;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}